*{
  margin: 0;
  padding: 0;
  margin-top: 6px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}


.pic{
  width: 100%;
  height: 280px;
}
/* hna yebda al part ta3 al nav */

navbar-nav{
  background-color: #ffffff;
  padding-left: 9px;
  margin-top: 13px;
}


.tittle{
  padding-right: 835px;
  padding-left: 5px;
  color: #336993;
}

.one{
padding-top: 13px;
padding-right: 0px;
margin-left:10px;
color: #336993;
}
/* hna yfad */

.banner{
position: relative;
}
.search-bar{
position: absolute;
display: flex;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
gap: 10px;
background-color: white;
padding: 10px;
border-radius: 10px;
}
.box {
padding: 10px 20px;
border: 2px solid #007BFF;
border-radius: 8px;
color: #007BFF;
width:  110px;
background-color: white;
}
button{
width: 110px;
color: whitesmoke;
background-color:rgb(92, 161, 240) ;
border-radius: 8px;
border: 2px solid #007BFF;
}     
button:hover{
color: rgb(103, 186, 235);
background-color: rgb(27, 56, 88);
border-radius: 10px;
border: 2px solid rgb(11, 24, 39);
}
/* hna al part ta3 gallery li fel home page */
div.gallery {
margin: 5px;
margin-left: 1%;
height: 250px;
border: 2px solid #ccc;
float: left;
width: 23%;
border-radius: 10px;
margin-bottom: 20px;
}
div.gallery:hover {
border: 3px solid #685c5c;
}
.display{
display: flex;
gap: 10px;
}
div.gallery img {
width: 100%;
height: 47%;
}

div.desc {
padding: 2px;

}
div.desc2 {
padding: 2px;
margin-left: 109px;
color: #f3aaaa;
}
.rate{
padding-top: 6px;
height: 28px;
width: 30px;
color: #ffffff;
background-color: #008000;
align-items: center;
border-radius: 8px;
}


.login-btn {
font-weight: bold;
color: #336993;
}
.user-icon {
display: inline-block;
width: 24px;
height: 24px;
background-color: #e0e0e0;
border-radius: 50%;
text-align: center;
line-height: 24px;
margin-left: 9px;
}




.benefits {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 10px;
  background-color: #fff;
  font-size: 14px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.benefit-item {
  flex: 1 1 150px;
  margin: 10px;
}

.benefit-emoji {
  font-size: 36px;
  margin-bottom: 10px;
}

.benefit-item p {
  font-size: 14px;
  color: #333;
}


  .benefits2{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
    font-size: 14px;
    border-top: 1px solid #336993;
    border-bottom: 1px solid #336993;
  background-color: #336993;
 
}
.benefit-item2 p {
  font-size: 14px;
  color: #ffffff;
  background-color: #336993;
}

footer {
  margin-top: 6px;
  background-color: #336993;
  color: #333;
  padding: 15px 10px;
  position: sticky;
}
footer h4{
  color: #333;
  background-color: #336993;
}
footer p{
  background-color: #336993;
  color: #e0e0e0;
}
.footer-sections {
  background-color: #336993;
  display: flex;
gap: 35%;
 color: #eee;
}


.inline{
  background-color: #336993;
  display: inline;
  color: #333;
}





















