
*{
    margin-top:0px;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
    background-color: #bdd9f0;
}
nav span{ background-color: #ffffff;}
nav p{
     background-color: #ffffff;
}
nav h3{ background-color: #ffffff;}
header a{ background-color: #ffffff;}
navbar-nav{
  background-color: #ffffff;
  padding-left: 9px;
  margin-top: 13px;
  height: 35px;
}
nav div{
    background-color: #ffffff;
     height: 35px;
}
div span{background-color: #ffffff;
 height: 35px;}


.tittle{background-color: #ffffff;
  padding-right: 835px;
  padding-left: 5px;
  color: #336993;
   height: 35px;
}

.one{background-color: #ffffff;
padding-top: 13px;
padding-right: 0px;
margin-left:10px;
color: #336993;
 height: 35px;
}
.display{
    display: flex;
}


.long_box{
    border: 2px solid #336993;
    color: #336993;
    background-color: #ffffff;
    padding-left: 8px;
    border-radius: 10px;
    height: 40px;
    width: 98%;
    margin-bottom: 10px;
    font-size: large;
}
.subscription{
    padding-left: 32%;
    font-size: xx-large;
    padding-right: 38%;
    background-color: #bdd9f0;
    padding-top: 7px;
    border: 2px solid #336993;
    color: #336993;
    max-width: 53%;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 10px;
    
}
.category{
    width:55%;
    padding-left: 2%;
    padding-top: 10px;
    color: #336993;
    font-size: large;
    border: 2px solid #336993;
    background-color: #bdd9f0;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
}
.short-box{
    margin-bottom: 10px;
    margin-top: 4px;
    width:43%;
    color: #336993;
    font-size: large;
    border: 2px solid #336993;
    background-color: #ffffff;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 8px;
    border-radius: 10px;
    margin-right: 1%;
    height: 40px;
    align-items: center;
    
    
}
.phone{
    width: 63%;
    margin-right: 0.5%;
    border: 2px solid #336993;
    background-color: #ffffff;
    padding-left: 8px;
    padding-top: 12px;
    color: #336993;
    border-radius: 10px;
    height: 40px;
    align-items: center;
    padding-top: 3px;
    margin-top: 9px;
}
input{
    font-size: large;
}
::placeholder{
    color: #336993;
    font-size: large;
}
.box{
    border: 2px solid #336993;
    color: #336993;
    background-color: #ffffff;
    padding-left: 8px;
    margin-right: 0.5%;
    border-radius: 10px;
    height: 40px;
    width: 55%;
    padding-right: 1%;
    margin-bottom: 10px;
}
 
.file{
    border: 2px solid #336993;
    width: 96%;
    height: 40px;
    padding-top: 2%;
    margin-right: 0.5;
    color: #336993;
    background-color:#ffffff ;
    margin-bottom: 10px;
    border-radius: 10px;
    
    padding-left: 4%;
}
form{
    background-color: #bdd9f0;
    width: 38%;
    margin-left: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px
    
   
}
button{
    height: 40px;
    font-size: x-large;
    width: 42%;
    margin-left: 24%;
    color: #a7c6df;
    border-radius: 10px;
    background-color:#ffffff ;
}
button:hover{
    color: #000000;
    background-color: #336993;
    border: 2px solid #a7c6df;
    box-shadow: #000000;
}

footer {
   width:  100%;
  margin-top: 6px;
  background-color: #336993;
  color: rgb(10, 11, 50);
  padding: 15px 10px;
   position: relative;
}
footer h4{
  color: #333;
   background-color: #336993;
}
footer p{
     background-color: #336993;
}
.footer-sections {
    width: 100%;
  background-color: #336993;
  display: flex;
  justify-content: space-between;
  gap: 0px;
 color: #eee;
}


.inline{
  display: inline-block;
  width: 30%;
 
   background-color: #336993;
}

