
*{
    margin: 0;
    padding: 0;
    margin-top: 6px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}


.pic{
    width: 100%;
    height: 280px;
}
/* hna yebda al part ta3 al nav */

navbar-nav{
    background-color: #ffffff;
    padding-left: 9px;
    margin-top: 13px;
}

.tittle{
    padding-right: 835px;
    padding-left: 5px;
    color: #336993;
}

.one{
  padding-top: 13px;
  padding-right: 0px;
  margin-left:10px;
  color: #336993;
}
/* hna yfad */

.banner{
  position: relative;
}
.search-bar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.user-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #e0e0e0;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-left: 9px;
  }

.box {
  padding: 10px 20px;
  border: 2px solid #007BFF;
  border-radius: 8px;
  color: #007BFF;
  width:  110px;
  background-color: white;
}
button{
  width: 110px;
  color: whitesmoke;
  background-color:rgb(92, 161, 240) ;
  border-radius: 8px;
  border: 2px solid #007BFF;
}     
button:hover{
  color: rgb(103, 186, 235);
  background-color: rgb(27, 56, 88);
  border-radius: 10px;
  border: 2px solid rgb(11, 24, 39);
}
div.gallery_lines{
    display: flex;
    align-items: flex-start;
  margin: 5px;
  padding: 0px 1px 2px ;
  margin-left: 15px;
  border: 2px solid #ccc;
  float: left;
  width: 700px;
  height: 180px;
  border-radius: 10px;
  gap: 12px;
}


.display2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display4{
    display: flex;
    padding-top: 89px;
       gap: 10px;
}
.display3{
    display: flex;
    padding-top: 70px;
    padding-bottom: 25px;
       gap: 10px;
       padding-right: 10px;
       
   }

.display{
 display: flex;
 
 padding-bottom: 25px;
    gap: 10px;
    
}

div.gallery_lines img {
     width: 96%;
     height: auto;
       max-height: 159px;
       border-radius: 5px;
}
  
div.desc {
    padding: 2px;
    margin-top: 0%;
    
   
}

.rate{
    padding-top: 6px;
    height: 28px;
    width: 30px;
    color: #ffffff;
    background-color: #008000;
    align-items: center;
    border-radius: 8px;
}
  
.option-box{
  color: rgb(27, 56, 88);
 border: 2px solid rgb(27, 56, 88);
  border-radius: 10px;
  height: 30px;
}
.option-box:hover{
  background-color: #98c0eb;
}
.blue{
  padding-top: 20px;
  margin-left: 40px;
  color: rgb(62, 98, 135);
}
.map-container{
  margin-top: 10px; 
  margin-right: 3px;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
footer {
  margin-top: 6px;
  background-color: #336993;
  color: rgb(10, 11, 50);
  padding: 15px 10px;
  position: sticky;
}
footer h4{
  color: #333;
}
.footer-sections {
  background-color: #336993;
  display: flex;
  justify-content: space-between;
  gap: 0px;
 color: #eee;
}


footer {
  margin-top: 20px;
  background-color: #336993;
  color: #333;
  padding: 15px 10px;
  position: sticky;
}
footer h4{
  color: #333;
  background-color: #336993;
}
footer p{
  background-color: #336993;
  color: #e0e0e0;
}
.footer-sections {
  background-color: #336993;
  display: flex;
gap: 35%;
 color: #eee;
}


.inline{
  background-color: #336993;
  display: inline;
  color: #333;
}